<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css"></link> 
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Oğulcan Bayol. It does not use data from any other source. </p>
    </div>
    <img src="/img/bernie.jpg">
    {{>footer}}
</body>
</html>