<!DOCTYPE html>
<html>

<head>
    <title>Error</title>
    <link rel="stylesheet" href="/css/styles.css"></link> 
</head>

<body>
    {{>header}}
    <p>{{errorMessage}}</p>
    {{>footer}}
</body>
</html>